<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Book Collection</title>
    <!-- <link rel="stylesheet" href="styles/base.css"> -->
  </head>
  <body>
    <header>
      <%- include('../layout/header') %> 
    </header>
    <main>
      <h4>My Book Collection</h4>
      <div>
        <% result.forEach( data => { %>
          <img src='<%=data.image_url  %>'/>
            <h3><%= data.title %></h3>
            <h4><%= data.author %></h4>
        <% }) %>
      </div>
    </main>
  </body>
</html>