<h1>My to do List App</h1>
<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/searches/new">+ New Book</a></li>
        <li><a href="/books/9">details</a></li>
        
    </ul>
</nav>